* {
  box-sizing: border-box;
}

body {
  margin: 20px 25px;
  min-width: 400px;
}
// Header 

  // Audio Player

audio {
  margin: 0;
  width: 100%;
  // padding: 30px;
  margin: auto;
}

#soundbar-div {
  background-color: #efeaea;
  padding: 30px;
  margin: 0 0 20px 0;
  & p {
    padding: 10px 0 0 0;
    margin: 0;
  }
}

  // Search Bars

// .hidden {
//   display: none;
// }

.flag {
  width: 30px;
  box-shadow: 2px 2px 3px;
}

#us-searchform-div {
  padding-bottom: 20px;
}

#searchforms {
  text-justify: center;
  padding-bottom: 20px;
  & input {
    width: 70%;
    border: 1px solid rgba(0, 0, 0, .1);;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .1);
    line-height: 1.3rem;
  }

  & button {
    line-height: 1.3rem;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    background: radial-gradient(#dbdbdb, #efeaea, #fcf7f7)
  }

  & p {
  display: inline;
  }
}


// Main

#search-results-div {
  background: linear-gradient(#001a33,#FFF);
  display: flex;
  flex-wrap: wrap;
}

.album-div, .featured-div {
  margin: 10px 20px;
  padding: 5px 10px;
  background-color: #FFF;
  border-radius: 2px;
  flex-grow: none;
  width: 150px;

  :hover {
    cursor: pointer;
  }

  .artistname{
    font-weight: 900;
  }

}

.album-img {
  width: 100px;
}

// Featured Songs

#featured-songs {
  display: flex;
  flex-wrap: wrap;
  
}